* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.row{
}
body{
    background-color:#bd2d31;
    overflow: hidden;
    font-family: Arial;
}
header img{
    width: 20vh;
    padding : 25vh 0vw 0vh 0vw;
}
article{
    color: rgb(251,208,121);
    line-height: 1.5rem;
    padding: 20vh 0vw 0vh 15vw;
}
p{
    margin-bottom: 0;
}
.desk {
    position: fixed;
    left: -15vw;
    bottom: -5vw;
    width: 60%;
    z-index: 0;
}
#chair1 {
    position: fixed;    
    left: 3vw;
    bottom: 14vw;
    width: 5%;
    z-index: 1;
}
#chair2 {
    position: fixed;    
    left: 12vw;
    bottom: 16vw;
    width: 5%;
    z-index: 1;
}
#chair3 {
    position: fixed;
    left: 21vw;
    bottom: 15vw;
    width: 6%;
    z-index: 1;
}
#chair4 {
    position: fixed;    
    left: 30vw;
    bottom: 10vw;
    width: 7%;
    z-index: 1;
}
#chair5 {
    position: fixed;    
    left: 40vw;
    bottom: 1vw;
    width: 8%;
    z-index: 1;
}
#rightbutton{
    position: fixed;    
    left: 63vw;
    bottom: 0vw;
    width: 10%;
    z-index: 3;
}
#leftbutton{
    position: fixed;    
    left: 30vw;
    bottom: 0vw;
    width: 10%;
    z-index: 3;
}

.food{
    position: fixed;    
    left: 0vw;
    bottom: -100vw;
    width: 25%;
    z-index: 2;
}
#rice{
    position: fixed;    
    left: 39vw;
    bottom: 3vw;
    width: 25%;
    z-index: 2;
}

.intro{
    position: fixed;    
    left: 0vw;
    bottom: 0vw;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.7);
    z-index: 4;
}
.intro img{
    position: fixed;    
    left: 13vw;
    bottom: 32vh;
    width:32vw;
}
.intro p{
    color: rgb(251,208,121);
    line-height: 2.2rem;
    position: fixed;    
    left: 50vw;
    top: 40vh;
    font-size: 1.5rem;
    padding: 0 5vw 0 0;
}
.intro h2{
    position: fixed;    
    left: 50vw;
    top: 30vh;
    color: rgb(251,208,121);
    line-height: 1.5rem;
    font-size: 3rem;
}

